@tailwind base;
@tailwind components;
@tailwind utilities;

/* layer base preset */
/* follwing when compiled will be inserted at the end of base styles */
@layer base {
  @font-face {
    font-family: Oswald;
    src: url(@/assets/fonts/Oswald/Oswald-Bold.ttf) format("​truetype​");
  }

  body {
    @apply bg-gray-50;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
}

@layer components {
  .btn-submit {
    @apply inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600
              hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
  }
}

@layer utilities {
  .form-panel {
    @apply md:mt-0 md:col-span-2 bg-white shadow overflow-hidden sm:rounded-md px-4 py-5 sm:p-6;
  }
  .form-simple {
    @apply mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md;
  }
  .form-underline {
    @apply m-0 block w-full px-2 border-0 border-b-2 border-gray-200 focus:ring-0 focus:border-blue-300;
  }
  .form-gray {
    @apply mt-1 block w-full rounded-md bg-gray-200  border-transparent focus:border-gray-500 focus:bg-white;
  }
  .form-dropdown {
    @apply mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500                 focus:border-indigo-500 sm:text-sm;
  }
}
